body {
            background-color: #f4f6f9;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Arial, sans-serif;
            /* color: #333; */
            padding-top: 76px; /* sesuai tinggi navbar (66px) + 10px jarak */
        }

        .main {
            max-width: 850px;
            background: white;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h2 {
            text-align: center;
            color: #002b6b;
            margin-top: 0;
        }

        h3 {
            color: #002b6b;
            margin-bottom: 5px;
            margin-top: 25px;
        }

        ul {
            margin-top: 5px;
            padding-left: 20px;
        }

        li {
            margin-bottom: 6px;
        }

        p {
            text-align: justify;
        }